*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: antiquewhite;
}

.appFont {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 800;
}

.hidden {
    display:none;
}

.complete {
    color: darkgray;
    text-decoration: line-through;
}